/* ================================= 
  Main Element Styles
==================================== */
body {
	font-size: 1.35em;
	font-family:  'Open Sans', Helvetica, sans-serif;
	color:#fff;
	background: #e8e9e9;
	padding-left: 5%;
	padding-right: 5%;
}
/*typography*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	color: #323232;
}
h1 {
	font-size: 4em;
	text-align: center;
	color: #FA7F00;
}
h2 {
	font-size: 48px;
	padding-top: 55px;
	line-height: 60px;
	text-align: center;
}
h3 {
	font-size: 32px;
	line-height: 54px;
}
p {
    font-size: 1.5em;
    line-height: 1.1em;
    color: #323232;
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px; 
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
	list-style: none;
	color: #323232;
}
/*links*/
a, a:hover, a:focus, a:active, a.active {
    outline: 0 none;
    text-decoration: none;
    color: #FA7F00;
}
a:hover {
	color: #334960;
}
.text {
	font-size: 1.5em;
    line-height: 1.1em;
    color: #fff;
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px;
}
.prettyprint {
	padding-top: 0.8em;
	color: #323232;
	font-size: 0.7em;
}
.container {
	padding: 0;
	background: #fff;
  	border-radius: 5px;
	margin: 0;
  	box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}
/* ================================= 
  Main Layout Styles
==================================== */
/* ---- Navigation ---- */
.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #323232;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #FA7F00;

}
/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background: #323232;
	padding: 3.2em 0;
	margin-bottom: 48px;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	background: #323232;
	padding: 2em 0;
	margin-top: 30px;
}
.headline {
	margin-bottom: 0;
}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
	.main-header,
	.row {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	.tagline {
		font-size: 1.4em;
	}
	.prettyprint {
	font-size: 1em;
}
}